EgrasLatest28082023/Egras_2015_U_latest/App_WebReferences/SBIWebServ/DoubleVerifyMerchantService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://service.common.sbi.com/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://thirdparties.sbi.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://thirdparties.sbi.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://thirdparties.sbi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>DoubleVerifyMerchantService</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax22="http://service.common.sbi.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://thirdparties.sbi.com/xsd">
      <xs:import namespace="http://service.common.sbi.com/xsd" />
      <xs:element name="DoubleVerification">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="strMerchantParm" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DoubleVerificationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setDoubleVerificationService">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="doubleVerificationService" nillable="true" type="ax22:BaseService" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.common.sbi.com/xsd">
      <xs:complexType name="BaseService">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="setDoubleVerificationServiceRequest">
    <wsdl:part name="parameters" element="ns:setDoubleVerificationService" />
  </wsdl:message>
  <wsdl:message name="DoubleVerificationRequest">
    <wsdl:part name="parameters" element="ns:DoubleVerification" />
  </wsdl:message>
  <wsdl:message name="DoubleVerificationResponse">
    <wsdl:part name="parameters" element="ns:DoubleVerificationResponse" />
  </wsdl:message>
  <wsdl:portType name="DoubleVerifyMerchantServicePortType">
    <wsdl:operation name="setDoubleVerificationService">
      <wsdl:input wsaw:Action="urn:setDoubleVerificationService" message="tns:setDoubleVerificationServiceRequest" />
    </wsdl:operation>
    <wsdl:operation name="DoubleVerification">
      <wsdl:input wsaw:Action="urn:DoubleVerification" message="tns:DoubleVerificationRequest" />
      <wsdl:output wsaw:Action="urn:DoubleVerificationResponse" message="tns:DoubleVerificationResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DoubleVerifyMerchantServiceSoap11Binding" type="tns:DoubleVerifyMerchantServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setDoubleVerificationService">
      <soap:operation soapAction="urn:setDoubleVerificationService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DoubleVerification">
      <soap:operation soapAction="urn:DoubleVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoubleVerifyMerchantServiceSoap12Binding" type="tns:DoubleVerifyMerchantServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setDoubleVerificationService">
      <soap12:operation soapAction="urn:setDoubleVerificationService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DoubleVerification">
      <soap12:operation soapAction="urn:DoubleVerification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoubleVerifyMerchantServiceHttpBinding" type="tns:DoubleVerifyMerchantServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="setDoubleVerificationService">
      <http:operation location="setDoubleVerificationService" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DoubleVerification">
      <http:operation location="DoubleVerification" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DoubleVerifyMerchantService">
    <wsdl:port name="DoubleVerifyMerchantServiceHttpSoap11Endpoint" binding="tns:DoubleVerifyMerchantServiceSoap11Binding">
      <soap:address location="https://merchant.onlinesbi.sbi/thirdparties/services/DoubleVerifyMerchantService.DoubleVerifyMerchantServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="DoubleVerifyMerchantServiceHttpSoap12Endpoint" binding="tns:DoubleVerifyMerchantServiceSoap12Binding">
      <soap12:address location="https://merchant.onlinesbi.sbi/thirdparties/services/DoubleVerifyMerchantService.DoubleVerifyMerchantServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="DoubleVerifyMerchantServiceHttpEndpoint" binding="tns:DoubleVerifyMerchantServiceHttpBinding">
      <http:address location="https://merchant.onlinesbi.sbi/thirdparties/services/DoubleVerifyMerchantService.DoubleVerifyMerchantServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>