EgrasLatest28082023/Egras_2015_U_latest/App_WebReferences/BOIWebServ/RJSTVerify.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateGRN_RJST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encdata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGRN_RJSTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateGRN_RJSTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateGRN_RJSTSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGRN_RJST" />
  </wsdl:message>
  <wsdl:message name="UpdateGRN_RJSTSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGRN_RJSTResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGRN_RJSTHttpGetIn">
    <wsdl:part name="encdata" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateGRN_RJSTHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateGRN_RJSTHttpPostIn">
    <wsdl:part name="encdata" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateGRN_RJSTHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="RJSTVerifySoap">
    <wsdl:operation name="UpdateGRN_RJST">
      <wsdl:input message="tns:UpdateGRN_RJSTSoapIn" />
      <wsdl:output message="tns:UpdateGRN_RJSTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RJSTVerifyHttpGet">
    <wsdl:operation name="UpdateGRN_RJST">
      <wsdl:input message="tns:UpdateGRN_RJSTHttpGetIn" />
      <wsdl:output message="tns:UpdateGRN_RJSTHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RJSTVerifyHttpPost">
    <wsdl:operation name="UpdateGRN_RJST">
      <wsdl:input message="tns:UpdateGRN_RJSTHttpPostIn" />
      <wsdl:output message="tns:UpdateGRN_RJSTHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RJSTVerifySoap" type="tns:RJSTVerifySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateGRN_RJST">
      <soap:operation soapAction="http://tempuri.org/UpdateGRN_RJST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RJSTVerifySoap12" type="tns:RJSTVerifySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateGRN_RJST">
      <soap12:operation soapAction="http://tempuri.org/UpdateGRN_RJST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RJSTVerifyHttpGet" type="tns:RJSTVerifyHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UpdateGRN_RJST">
      <http:operation location="/UpdateGRN_RJST" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RJSTVerifyHttpPost" type="tns:RJSTVerifyHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UpdateGRN_RJST">
      <http:operation location="/UpdateGRN_RJST" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RJSTVerify">
    <wsdl:port name="RJSTVerifySoap" binding="tns:RJSTVerifySoap">
      <soap:address location="http://starconnectcbs.bankofindia.com/RJSTVerify/RJSTVerify.asmx" />
    </wsdl:port>
    <wsdl:port name="RJSTVerifySoap12" binding="tns:RJSTVerifySoap12">
      <soap12:address location="http://starconnectcbs.bankofindia.com/RJSTVerify/RJSTVerify.asmx" />
    </wsdl:port>
    <wsdl:port name="RJSTVerifyHttpGet" binding="tns:RJSTVerifyHttpGet">
      <http:address location="http://starconnectcbs.bankofindia.com/RJSTVerify/RJSTVerify.asmx" />
    </wsdl:port>
    <wsdl:port name="RJSTVerifyHttpPost" binding="tns:RJSTVerifyHttpPost">
      <http:address location="http://starconnectcbs.bankofindia.com/RJSTVerify/RJSTVerify.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>