Egras105_04092023/RBI Service  jan 2020/App_WebReferences/BOBWebServ/GetRajGrasPmtStatusSoap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BOBRajGrasVerifyPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BOBRajGrasVerifyPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BOBRajGrasVerifyPaymentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BOBRajGrasVerifyPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:BOBRajGrasVerifyPayment" />
  </wsdl:message>
  <wsdl:message name="BOBRajGrasVerifyPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:BOBRajGrasVerifyPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="BOBRajGrasVerifyPaymentHttpGetIn">
    <wsdl:part name="encData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BOBRajGrasVerifyPaymentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BOBRajGrasVerifyPaymentHttpPostIn">
    <wsdl:part name="encData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BOBRajGrasVerifyPaymentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="BOBRajGrasVerifyPayment">
      <wsdl:input message="tns:BOBRajGrasVerifyPaymentSoapIn" />
      <wsdl:output message="tns:BOBRajGrasVerifyPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="BOBRajGrasVerifyPayment">
      <wsdl:input message="tns:BOBRajGrasVerifyPaymentHttpGetIn" />
      <wsdl:output message="tns:BOBRajGrasVerifyPaymentHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="BOBRajGrasVerifyPayment">
      <wsdl:input message="tns:BOBRajGrasVerifyPaymentHttpPostIn" />
      <wsdl:output message="tns:BOBRajGrasVerifyPaymentHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BOBRajGrasVerifyPayment">
      <soap:operation soapAction="http://tempuri.org/BOBRajGrasVerifyPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BOBRajGrasVerifyPayment">
      <soap12:operation soapAction="http://tempuri.org/BOBRajGrasVerifyPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="BOBRajGrasVerifyPayment">
      <http:operation location="/BOBRajGrasVerifyPayment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="BOBRajGrasVerifyPayment">
      <http:operation location="/BOBRajGrasVerifyPayment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://feba.bobibanking.com/corp/TechProcessVerify/GetRajGrasPmtStatusSoap.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://feba.bobibanking.com/corp/TechProcessVerify/GetRajGrasPmtStatusSoap.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="https://feba.bobibanking.com/corp/TechProcessVerify/GetRajGrasPmtStatusSoap.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="https://feba.bobibanking.com/corp/TechProcessVerify/GetRajGrasPmtStatusSoap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>