EgrasLatest28082023/Egras_2015_U_latest/App_WebReferences/CTDSelfServ/ctdwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateSlab">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSlabResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSlabResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateSlabSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSlab" />
  </wsdl:message>
  <wsdl:message name="UpdateSlabSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSlabResponse" />
  </wsdl:message>
  <wsdl:portType name="CTDWebServiceSoap">
    <wsdl:operation name="UpdateSlab">
      <wsdl:input message="tns:UpdateSlabSoapIn" />
      <wsdl:output message="tns:UpdateSlabSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CTDWebServiceSoap" type="tns:CTDWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateSlab">
      <soap:operation soapAction="http://tempuri.org/UpdateSlab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CTDWebServiceSoap12" type="tns:CTDWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateSlab">
      <soap12:operation soapAction="http://tempuri.org/UpdateSlab" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTDWebService">
    <wsdl:port name="CTDWebServiceSoap" binding="tns:CTDWebServiceSoap">
      <soap:address location="http://164.100.153.24/egras/ctd/ctdwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="CTDWebServiceSoap12" binding="tns:CTDWebServiceSoap12">
      <soap12:address location="http://164.100.153.24/egras/ctd/ctdwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>