EgrasLatest28082023/Egras_2015_U_latest/App_WebReferences/BOBWebServ/GetRajGrasPmtStatusSoap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BOBRajGrasVerifyPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BOBRajGrasVerifyPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BOBRajGrasVerifyPaymentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BOBRajGrasVerifyPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:BOBRajGrasVerifyPayment" />
  </wsdl:message>
  <wsdl:message name="BOBRajGrasVerifyPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:BOBRajGrasVerifyPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="BOBRajGrasVerifyPayment">
      <wsdl:input message="tns:BOBRajGrasVerifyPaymentSoapIn" />
      <wsdl:output message="tns:BOBRajGrasVerifyPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BOBRajGrasVerifyPayment">
      <soap:operation soapAction="http://tempuri.org/BOBRajGrasVerifyPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BOBRajGrasVerifyPayment">
      <soap12:operation soapAction="http://tempuri.org/BOBRajGrasVerifyPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://feba.bobibanking.com/corp/TechProcessVerify/GetRajGrasPmtStatusSoap.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://feba.bobibanking.com/corp/TechProcessVerify/GetRajGrasPmtStatusSoap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>