Egras105_04092023/RBI Service  jan 2020/App_WebReferences/TrgWebServ_ADDDDO/egaddnewddocode.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDDOCodeDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ddocode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="treascode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDDOCodeDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDDOCodeDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDDOCodeDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDDOCodeDetails" />
  </wsdl:message>
  <wsdl:message name="GetDDOCodeDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDDOCodeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDDOCodeDetailsHttpGetIn">
    <wsdl:part name="ddocode" type="s:string" />
    <wsdl:part name="treascode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDDOCodeDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDDOCodeDetailsHttpPostIn">
    <wsdl:part name="ddocode" type="s:string" />
    <wsdl:part name="treascode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDDOCodeDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="EgAddNewDDOCodeSoap">
    <wsdl:operation name="GetDDOCodeDetails">
      <wsdl:input message="tns:GetDDOCodeDetailsSoapIn" />
      <wsdl:output message="tns:GetDDOCodeDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EgAddNewDDOCodeHttpGet">
    <wsdl:operation name="GetDDOCodeDetails">
      <wsdl:input message="tns:GetDDOCodeDetailsHttpGetIn" />
      <wsdl:output message="tns:GetDDOCodeDetailsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EgAddNewDDOCodeHttpPost">
    <wsdl:operation name="GetDDOCodeDetails">
      <wsdl:input message="tns:GetDDOCodeDetailsHttpPostIn" />
      <wsdl:output message="tns:GetDDOCodeDetailsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EgAddNewDDOCodeSoap" type="tns:EgAddNewDDOCodeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDDOCodeDetails">
      <soap:operation soapAction="http://tempuri.org/GetDDOCodeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EgAddNewDDOCodeSoap12" type="tns:EgAddNewDDOCodeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDDOCodeDetails">
      <soap12:operation soapAction="http://tempuri.org/GetDDOCodeDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EgAddNewDDOCodeHttpGet" type="tns:EgAddNewDDOCodeHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetDDOCodeDetails">
      <http:operation location="/GetDDOCodeDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EgAddNewDDOCodeHttpPost" type="tns:EgAddNewDDOCodeHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetDDOCodeDetails">
      <http:operation location="/GetDDOCodeDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EgAddNewDDOCode">
    <wsdl:port name="EgAddNewDDOCodeSoap" binding="tns:EgAddNewDDOCodeSoap">
      <soap:address location="http://rajkosh.raj.nic.in/services/egaddnewddocode.asmx" />
    </wsdl:port>
    <wsdl:port name="EgAddNewDDOCodeSoap12" binding="tns:EgAddNewDDOCodeSoap12">
      <soap12:address location="http://rajkosh.raj.nic.in/services/egaddnewddocode.asmx" />
    </wsdl:port>
    <wsdl:port name="EgAddNewDDOCodeHttpGet" binding="tns:EgAddNewDDOCodeHttpGet">
      <http:address location="http://rajkosh.raj.nic.in/services/egaddnewddocode.asmx" />
    </wsdl:port>
    <wsdl:port name="EgAddNewDDOCodeHttpPost" binding="tns:EgAddNewDDOCodeHttpPost">
      <http:address location="http://rajkosh.raj.nic.in/services/egaddnewddocode.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>