Egras105_04092023/RBI Service  jan 2020/App_WebReferences/CanaraWebServ/VerifyTxn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getverifyStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enc_data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getverifyStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getverifyStatusResult" type="tns:verifyResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="verifyResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="encdata" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BANK_CODE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getverifyStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getverifyStatus" />
  </wsdl:message>
  <wsdl:message name="getverifyStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getverifyStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getverifyStatusAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="VerifyTxnSoap">
    <wsdl:operation name="getverifyStatus">
      <wsdl:input message="tns:getverifyStatusSoapIn" />
      <wsdl:output message="tns:getverifyStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VerifyTxnSoap" type="tns:VerifyTxnSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getverifyStatus">
      <soap:operation soapAction="http://tempuri.org/getverifyStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getverifyStatusAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VerifyTxnSoap12" type="tns:VerifyTxnSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getverifyStatus">
      <soap12:operation soapAction="http://tempuri.org/getverifyStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getverifyStatusAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VerifyTxn">
    <wsdl:port name="VerifyTxnSoap" binding="tns:VerifyTxnSoap">
      <soap:address location="https://canepaycustoms.canarabank.in/RajasthaneGRASVerify/VerifyTxn.asmx" />
    </wsdl:port>
    <wsdl:port name="VerifyTxnSoap12" binding="tns:VerifyTxnSoap12">
      <soap12:address location="https://canepaycustoms.canarabank.in/RajasthaneGRASVerify/VerifyTxn.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>