Egras105_04092023/RBI Service  jan 2020/App_WebReferences/GRNPDF/eggrnpdfservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetGRNPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encGRN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MerchantCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGRNPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGRNPDFResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGRNPDFSoapIn">
    <wsdl:part name="parameters" element="tns:GetGRNPDF" />
  </wsdl:message>
  <wsdl:message name="GetGRNPDFSoapOut">
    <wsdl:part name="parameters" element="tns:GetGRNPDFResponse" />
  </wsdl:message>
  <wsdl:message name="GetGRNPDFHttpGetIn">
    <wsdl:part name="encGRN" type="s:string" />
    <wsdl:part name="MerchantCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGRNPDFHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="GetGRNPDFHttpPostIn">
    <wsdl:part name="encGRN" type="s:string" />
    <wsdl:part name="MerchantCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGRNPDFHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:portType name="EgGrnPdfServiceSoap">
    <wsdl:operation name="GetGRNPDF">
      <wsdl:input message="tns:GetGRNPDFSoapIn" />
      <wsdl:output message="tns:GetGRNPDFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EgGrnPdfServiceHttpGet">
    <wsdl:operation name="GetGRNPDF">
      <wsdl:input message="tns:GetGRNPDFHttpGetIn" />
      <wsdl:output message="tns:GetGRNPDFHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EgGrnPdfServiceHttpPost">
    <wsdl:operation name="GetGRNPDF">
      <wsdl:input message="tns:GetGRNPDFHttpPostIn" />
      <wsdl:output message="tns:GetGRNPDFHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EgGrnPdfServiceSoap" type="tns:EgGrnPdfServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGRNPDF">
      <soap:operation soapAction="http://tempuri.org/GetGRNPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EgGrnPdfServiceSoap12" type="tns:EgGrnPdfServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGRNPDF">
      <soap12:operation soapAction="http://tempuri.org/GetGRNPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EgGrnPdfServiceHttpGet" type="tns:EgGrnPdfServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetGRNPDF">
      <http:operation location="/GetGRNPDF" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EgGrnPdfServiceHttpPost" type="tns:EgGrnPdfServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetGRNPDF">
      <http:operation location="/GetGRNPDF" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EgGrnPdfService">
    <wsdl:port name="EgGrnPdfServiceSoap" binding="tns:EgGrnPdfServiceSoap">
      <soap:address location="http://10.130.34.152/Egras105/Eservice/eggrnpdfservice.asmx" />
    </wsdl:port>
    <wsdl:port name="EgGrnPdfServiceSoap12" binding="tns:EgGrnPdfServiceSoap12">
      <soap12:address location="http://10.130.34.152/Egras105/Eservice/eggrnpdfservice.asmx" />
    </wsdl:port>
    <wsdl:port name="EgGrnPdfServiceHttpGet" binding="tns:EgGrnPdfServiceHttpGet">
      <http:address location="http://10.130.34.152/Egras105/Eservice/eggrnpdfservice.asmx" />
    </wsdl:port>
    <wsdl:port name="EgGrnPdfServiceHttpPost" binding="tns:EgGrnPdfServiceHttpPost">
      <http:address location="http://10.130.34.152/Egras105/Eservice/eggrnpdfservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>