EgrasLatest28082023/Egras_2015_U_latest/App_WebReferences/IDBIWebServ/inquiryservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="rajegras.idbibank.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="rajegras.idbibank.com" targetNamespace="rajegras.idbibank.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="rajegras.idbibank.com">
      <xsd:element name="UpdateRajEgrasInquiry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestEncData" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateRajEgrasInquiryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="responseEncData" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdateRajEgrasInquiryResponse">
    <wsdl:part name="parameters" element="impl:UpdateRajEgrasInquiryResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRajEgrasInquiryRequest">
    <wsdl:part name="parameters" element="impl:UpdateRajEgrasInquiry" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="UpdateRajEgrasInquiry">
      <wsdl:input name="UpdateRajEgrasInquiryRequest" message="impl:UpdateRajEgrasInquiryRequest" />
      <wsdl:output name="UpdateRajEgrasInquiryResponse" message="impl:UpdateRajEgrasInquiryResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="inquiryserviceSoapBinding" type="impl:ServiceSoap">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateRajEgrasInquiry">
      <wsdlsoap:operation soapAction="rajegras.idbibank.com/UpdateRajEgrasInquiry" />
      <wsdl:input name="UpdateRajEgrasInquiryRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateRajEgrasInquiryResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="inquiryservice" binding="impl:inquiryserviceSoapBinding">
      <wsdlsoap:address location="https://inetapps.idbibank.co.in/RajInquiry/services/inquiryservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>