EgrasLatest28082023/Egras_2015_U_latest/App_WebReferences/BService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://10.130.7.149" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://10.130.7.149" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://10.130.7.149">
      <s:element name="ToVerfied">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="grn" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amt" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToVerfiedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ToVerfiedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ToVerfiedSoapIn">
    <wsdl:part name="parameters" element="tns:ToVerfied" />
  </wsdl:message>
  <wsdl:message name="ToVerfiedSoapOut">
    <wsdl:part name="parameters" element="tns:ToVerfiedResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ToVerfied">
      <wsdl:input message="tns:ToVerfiedSoapIn" />
      <wsdl:output message="tns:ToVerfiedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToVerfied">
      <soap:operation soapAction="http://10.130.7.149/ToVerfied" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToVerfied">
      <soap12:operation soapAction="http://10.130.7.149/ToVerfied" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.130.7.149/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.130.7.149/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>