Egras105_04092023/RBI Service  jan 2020/App_WebReferences/CBIPushServ/Egrass.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/EGRASS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.example.org/EGRASS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element ibmSchExtn:docRoot="true" name="EGRASSFETCHDETAILS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GRASSDATA" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="EGRASSFETCHDETAILSResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="out" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>